<div class="container-left">
    <img src="/hausc.jpg" alt="img3" />
    <img src="/hausa.jpg" alt="img1" />
</div>

<div class="container-right">
    <div id="right-top">
        <h4 id="title">
            Please tell us a bit more about yourself!
        </h4>

        {{#message}}
            {{error}}
        {{/message}}

    </div>

    <div id="right-mid">

        <form method="post" action="/profile">

            <input
                class="form-style"
                type="text"
                id="age"
                name="age"
                placeholder="Age"
                {{! value="Age" }}
            /><br />

            <input
                class="form-style"
                type="text"
                id="city"
                name="city"
                placeholder="City"
                {{! value="City" }}
            /><br />

            <input
                class="form-style"
                type="text"
                id="homepage"
                name="homepage"
                placeholder="Homepage"
                {{! value="Homepage" }}
            /><br />

            <button
                class="form-style"
                id="submit"
                type="submit"
            >continue</button>

        </form>

    </div>

    <div id="right-bottom">

    </div>
</div>